<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
</head>
<body>
    <h4>You are using User Layout </h4>

    @RenderBody()
    <section>
        <footer>
            <a href="/Home/About">About</a>
            <a href="/Home/Contact">Contact</a>
            <a href="/Home/Index">Index</a>
            <a href="/Home/OurTeam">Terms</a>
        </footer>
    </section>
</body>
</html>